#root {
  width: 100vw;
}
.Container {
  padding: 0;
  background-color: #599eee;
}
.Container2 {
  padding: 0;
}
.Navbar {
  background-color: #327ed4 !important;
}
input {
  padding: 15px !important;
}
.Toast {
  margin-top: 100px !important;
}
.more {
  cursor: pointer;
  text-decoration: underline;
}
.form_details {
  font-size: 1.2rem;
  width: 70%;
}
.answer {
  padding: 10px 50px !important;
}
.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rebeccapurple;
}
.flex-div {
  display: inline-flex;
  align-items: center;
  column-gap: 10px;
  
}
.flex-div p {
  margin-left: 20px;
}
.card-mdf {
  background-color: rgb(255, 255, 255)  !important;
}
.attachment {
  border: 1px solid rgba(0, 0, 0, 0.253);
  margin: 10% auto;
  height: 70px;
  cursor: pointer;
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 1rem 1rem;
  font-size: 1rem;
  width: fit-content;
  
}
.attachment img {
  width: 20px;
}
.attachment p {
  overflow-wrap: break-word;
  font-size: 1rem;
}
.z-index-5 {
  z-index: 9000;
}
.toast-top {
  transform: translateY(-7%);
  background-color: rgb(255, 255, 255);
  box-shadow: none;
}
.flexible {
  display: flex !important;
  flex-direction: column-reverse !important;
}
.flex-mdf {

  background-color: #9ecafc;
}
.icon {
  font-size: 2rem;
}
.outlook {
  width: 3rem;
}
.secure {
  width: 7rem;
}
.action-img {
  width: 30%;
  float: right;
}
p {
  word-wrap: break-word;
}
.toastCont {
  width: 700px !important;
  max-width: 100%;
}